body{
    margin: 0%;
    padding: 0%;
    border: 0%;
}
.barra_navegacion ul li :hover{
    background-color: #ABEBC6;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
.barra_navegacion ul li {
    display: inline-block;
    font-size: 94%;
    font-family: 'Varela Round', sans-serif;
    
}

.barra_navegacion ul{

    list-style:none ;
    background-color: #82E0AA;
    
    
}

.barra_navegacion ul li a{
    text-decoration: none;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    


}

.barra_navegacion ul{

margin-left: 0%;
    border-left: 0;
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    
}

.inicio{
    margin-right: 65%;


}