/**Modo noche-----------------------------------------------------------------------------------------------------*/
.boton_modo_noche{
    font-size: 110%;
    border-radius: 1000PX;
    border:0;
    padding: 40%;
    background-color: #1D9BF0;
}
.boton_modo_dia{
    background-color: #FFD400;

}
.modo_dia{
    display: none;
}

.modo_dia_desactivado{
    display: none;
}

.modo_dia_activado{
    display: inherit;

}
.modo_noche_desactivado{
 display: none;
}
.body_dark .barra_navegacion_dark ul{
    background-color:#1D9BF0 ;
}


.cuerpo_dark{
    background-color: #15202B;
    color: white;
}
    

.body_dark{
    background-color: #000000;
}

.hobbies_tabla_dark  td{
    border: solid #1D9BF0 ;

}
.hobbies_tabla_dark  tr th{
    border: solid #1D9BF0 ;


}

.pie_dark{
    background-color: #1D9BF0;
    color: white;
    
    
}
