
@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');
.cuerpo{
    width:80% ;
    margin:auto;
    background-color: #EEFFE7;
    margin-top: 0;
    border-top: 0;
    padding-top: 0;
    padding-left: 5px;
    padding-bottom: 15px;
    
    
    
}

.btn_curiosidades_abrir {
    margin-top: 25%;
    margin-left: 3%;
  background-color: #ABEBC6;
  border: 0;
  border-radius: 1000px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 30px;
  padding: 10px 25px;
  float: left;
}
.btn_curiosidades_cerrar{
    background-color: #ABEBC6;
  border: 0;
  border-radius: 1000px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 30px;
  padding: 10px 25px;
}

.contenedor_curiodidades {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;  
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: opacity 0.3s ;
}

.activar_curiosidad{
  pointer-events: auto;
  opacity: 1;
}

.contenido_curiodidades {
  background-color: #EEFFE7;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.contenedor_curiodidades h1{
    font-family: 'Poiret One', cursive;
}

.contenedor_curiodidades p{
    font-family: 'Mohave', sans-serif;
    font-size: 20px;
}


.cuerpo h1{

    text-align: center;
    font-size:70px ;
    margin: 0;
   
    font-family: 'Poiret One', cursive;
    
}

.cuerpo p{

    font-size: 20px;
    font-family: 'Mohave', sans-serif;
}

.cuerpo h2{
    font-size: 30px;
    font-family: 'Poiret One', cursive;
}

.hobbies_tabla tr th,td{

    border:solid #ABEBC6;
    border-radius: 3px;
}

.hobbies_tabla th{
    font-size:30px;
    font-family:'Poiret One', cursive;
    padding: 2px;
}

.hobbies_tabla td{
    font-size: 20px;
    font-family: 'Mohave', sans-serif;
    padding: 4px;

}

.habilidades_lista {
    

    font-family: 'Mohave', sans-serif;
    font-size: 20px;
    
}

.habilidades_iconos img{
    width: 20%;
    

}

.habilidades_iconos{
    padding: 0;
    margin: 0;
    padding: 0;
}

.habilidades_lista li {
    list-style: none;
    display: inline-block;
    padding-left: 15px;
    width: 25%;
    margin: 5px;
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    
}

.habilidades_lista li:hover{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color:#FFF8E7;

}

.conocimientos_iconos img{
    width: 20%;

}
.conocimientos_iconos{
    padding: 0;
    margin: 0;
    padding: 0;
}
/** Portafolio-------------------------------------------------------------------------------------------------- **/



.cabeza_p{
    position: absolute;
    width: 100%;
    margin: 0;
    z-index: 2;
    height: 100%;
    padding-bottom: 3%;
    
    
}
.cabecera_portafolio_img{
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: 1;
    
}
.cabecera_portafolio_img img{
    width: 100%;
    height:200px;
}

.cabeza_p h1{
    text-align: center;
    top: -155px;
    font-size: 200px;
    position: absolute;
    width: 100%;
    z-index: 2;
    font-family: 'Praise', cursive;
    color: white;
    
    
    
}



.juego_portafolio iframe{
    float: right;
    border-radius: 5px;
    
}

.contenido_p{
    
    padding-top: 1%;
    padding-bottom: 15px;
    background-image: linear-gradient(330deg, #ff80ff 0, #fc74ff 16.67%, #c365ff 33.33%, #8953f2 50%, #4e41cb 66.67%, #0030a7 83.33%, #002287 100%);
    color: white;
    width: 100%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);

}

.contenido_p h2{
    font-family: 'Poiret One', cursive;
    padding-left: 15% ;
    font-size: 30px;
    
}

.contenido_p p{
    font-size: 20px;
    font-family: 'Mohave', sans-serif;
    padding-left: 2% ;
   
    
}

.juego_IP img{
    width: 19%;
}


.contenido_p2 {
    height: 94%;
    color: white;
    font-size: 20px;
    font-family: 'Mohave', sans-serif;
    margin-top: 2%;
    background-image: linear-gradient(310deg, #ff9d7a 0, #ff8f83 10%, #ff8089 20%, #ff718d 30%, #ff628d 40%, #f25389 50%, #d34683 60%, #b63c7d 70%, #9e3678 80%, #883174 90%, #752e71 100%);
}

.interesting_portafolio{
    width: 40%;
    height: 40%;
    float: left;
    padding-bottom: 2%;
}

  .interesting_portafolio img{
      width: 100%;
      float: left;
      border-radius: 5px;
      

  }
  
  .contenido_p2 h2{
    font-size: 30px;
    font-family: 'Poiret One', cursive;
    padding-top: 200px;
    
    
  }
