/**Modo noche-----------------------------------------------------------------------------------------------------*/
.boton_modo_noche{
    font-size: 110%;
    border-radius: 1000PX;
    border:0;
    padding: 40%;
    background-color: #1D9BF0;
}
.boton_modo_dia{
    background-color: #FFD400;

}
.modo_dia{
    display: none;
}

.modo_dia_desactivado{
    display: none;
}

.modo_dia_activado{
    display: inherit;

}
.modo_noche_desactivado{
 display: none;
}
.body_dark .barra_navegacion_dark ul{
    background-color:#1D9BF0 ;
    
}

.barra_navegacion_dark ul li a{
 color: white;
    
}
.barra_navegacion_dark ul li :hover{
    background-color: #447CA1;
}

.cuerpo_dark{
    background-color: #15202B;
    color: white;
}
    

.body_dark{
    background-color: #000000;
}

.hobbies_tabla_dark  td{
    border: solid #1D9BF0 ;

}
.hobbies_tabla_dark  tr th{
    border: solid #1D9BF0 ;


}
.habilidades_lista_dark li:hover{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color:black;

}

.pie_dark{
    background-color: #1D9BF0;
    color: white;
    
    
}

.habilidades_iconos_dark img{
    background-color: azure;
    padding: 5px;
    border-radius:5px ;
}

.conocimientos_iconos_dark img{
    background-color: azure;
    padding: 5px;
    border-radius:5px ;
}

.contenido_p_dark{
    background-image: linear-gradient(280deg, #103236 0, #132d2f 10%, #152828 20%, #162221 30%, #151b1a 40%, #141414 50%, #120a0d 60%, #0f0006 70%, #0b0000 80%, #050000 90%, #000000 100%);}

    .contenido_p2_dark{
        background-image: linear-gradient(95deg, #103236 0, #132d2f 10%, #152828 20%, #162221 30%, #151b1a 40%, #141414 50%, #120a0d 60%, #0f0006 70%, #0b0000 80%, #050000 90%, #000000 100%);

    }