@media( max-width:480px){
   
    .inicio{
        margin-right: -5%;
        padding: 0;
    }

    .boton_modo_noche{
        font-size: 17px;
        margin-left: -5px;
    }

    .habilidades_lista li {
        list-style: none;
        display: inline-block;
        padding-left: 15px;
        width: 40%;
        font-size: 25px;
       
  }

  .interesting_portafolio{
    width: 30%;
    height: 20%;
    float: left;
}

.interesting_portafolio img{
    width: 100%;
    height: 100%;
    float: left;
    background-size: cover;
   
}
.contenido_p2 {
    height: 150%;
}
.juego_portafolio iframe{
    float: none;
    width: 100%;
    
    
}
.juego_IP img{
    width: 40%;
}

.cabeza_p h1{
    top: -80px;
    font-size: 800%; 
}

.cuerpo p{
    font-size: 30px;
}

.pie ul p{
    font-size: 25px;
    padding-right: 3%;
}

.pie ul li{
    font-size: 25px;
}

.pie ul h3{
    font-size: 30px;
}

.cuerpo h2{
    font-size: 45px;
}

.hobbies_tabla td{
    font-size: 30px;

}
.contenido_p h2{
    font-size: 45px;


}

.contenido_p p{
    font-size: 30px;

}
.contenido_p2 p{
    font-size: 30px;
    padding-left: 3%;

}

.contenido_p2 h2{
    font-size: 45px;


}

.btn_curiosidades_abrir{
margin-left: -1px;
    width: 8%;
    text-align: center;
    font-size: 300%;
    padding: 0;
}

}

@media( max-width:360px){

    .cabeza_p h1{
        top: -40px;
        font-size: 600%; 
    }

    .habilidades_lista li {
        list-style: none;
        display: inline-block;
        padding-left: 15px;
        width: 70%;
        font-size: 25px;
       
  }

  .contenido_p2 {
    height: 175%;
}

.interesting_portafolio{
    width: 70%;
    height: 10%;
    float: left;
    padding-bottom: 2%;
}

  .interesting_portafolio img{
      width: 100%;
      float: left;
      border-radius: 5px;
      

  }
  .cuerpo p{
    font-size: 20px;
}

.pie ul p{
    font-size: 25px;
    padding-right: 3%;
}

.pie ul li{
    font-size: 22px;
}

.pie ul h3{
    font-size: 30px;
}
.cuerpo h1{
    font-size: 50px;
}
.hobbies_tabla td{
    font-size: 18px;

}
.btn_curiosidades_abrir{
    margin-left: -1px;
        width: 8%;
        text-align: center;
        font-size: 200%;
        padding: 2px;
    }

}
